<div class="flex flex-col rounded-lg bg-white shadow-sm max-w-96 p-8 border border-slate-200 items-stretch h-full">
  <div class="m-0 mb-8 text-center text-slate-800 border-b border-slate-200">
    <p class="text-sm uppercase font-semibold text-slate-500">
      {{ pricePack.header }}
    </p>
    <h1 class="flex justify-center gap-1 mt-4 font-bold text-slate-800 text-5xl">
      {{ pricePack.price.amount }}
      <span class="self-end text-3xl">{{ pricePack.price.currency }}</span>
    </h1>
    <p class="text-slate-500 h-14">
      {{ pricePack.subheader }}
    </p>
  </div>
  <div class="p-0 mb-8">
    <ul class="flex flex-col gap-4">
      @for (feature of pricePack.includedFeatures; track feature) {
        <li class="flex items-center gap-4">
        <span class="p-1 border rounded-full border-slate-200 bg-slate-50">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 text-slate-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>
        </span>
          <p class="text-slate-500">
            <b class="font-semibold">{{ feature.header }}:</b> {{ feature.description }}
          </p>
        </li>
      }
      <li class="flex items-center gap-4">
        <span class="p-1 border rounded-full border-slate-200 bg-slate-50">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 text-slate-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>
        </span>
        <p class="text-slate-500">
          {{ pricePack.description }}
        </p>
      </li>
    </ul>
  </div>
  <div class="p-0 mt-auto">
    <button
      class="min-w-32 w-full rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button">
      Book Now
    </button>
  </div>
</div>
