<div class="relative flex flex-col bg-white/20 rounded-2xl shadow-md ring-1 ring-black/5">
  <nav class="flex min-w-[240px] flex-col gap-1 p-2" [formGroup]="equipmentFilterForm">
    <div role="button" class="flex w-full items-center rounded-lg p-0 transition-all hover:bg-slate-300/30 focus:bg-slate-300/30 active:bg-slate-300/30">
      <label for="check-light" class="flex w-full cursor-pointer items-center px-3 py-2">
        <div class="inline-flex items-center">
          <label class="flex items-center cursor-pointer relative" for="check-light">
            <input type="checkbox"
                   class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-slate-800 checked:border-slate-800"
                   id="check-light"
                   formControlName="light"/>
            <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                   stroke="currentColor" stroke-width="1">
                <path fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
              </svg>
            </span>
          </label>
          <label class="cursor-pointer ml-2 text-slate-600 text-sm" for="check-light">
            Light
          </label>
        </div>
      </label>
    </div>
    <div role="button" class="flex w-full items-center rounded-lg p-0 transition-all hover:bg-slate-300/30 focus:bg-slate-300/30 active:bg-slate-300/30">
      <label for="check-cameras" class="flex w-full cursor-pointer items-center px-3 py-2">
        <div class="inline-flex items-center">
          <label class="flex items-center cursor-pointer relative" for="check-cameras">
            <input type="checkbox"
                   class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-slate-800 checked:border-slate-800"
                   id="check-cameras"
                   formControlName="cameras"/>
            <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                   stroke="currentColor" stroke-width="1">
                <path fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
              </svg>
            </span>
          </label>
          <label class="cursor-pointer ml-2 text-slate-600 text-sm" for="check-cameras">
            Cameras
          </label>
        </div>
      </label>
    </div>
    <div role="button" class="flex w-full items-center rounded-lg p-0 transition-all hover:bg-slate-300/30 focus:bg-slate-300/30 active:bg-slate-300/30">
      <label for="check-other" class="flex w-full cursor-pointer items-center px-3 py-2">
        <div class="inline-flex items-center">
          <label class="flex items-center cursor-pointer relative" for="check-other">
            <input type="checkbox"
                   class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300 checked:bg-slate-800 checked:border-slate-800"
                   id="check-other"
                   formControlName="other"/>
            <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                   stroke="currentColor" stroke-width="1">
                <path fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"></path>
              </svg>
            </span>
          </label>
          <label class="cursor-pointer ml-2 text-slate-600 text-sm" for="check-other">
            Other
          </label>
        </div>
      </label>
    </div>
  </nav>
</div>
