<div class="pb-25 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-[4fr_6fr] md:gap-11 xl:gap-25 items-stretch">
  <div class="relative h-40 md:h-73 flex flex-col">
    <!--<h2 class="text-6xl md:text-7xl font-light">Contacts</h2>-->

    <div class="flex mt-auto gap-4 text-slate-600 justify-center">
      <a href="//instagram.com" target="_blank" class="block transition-opacity text-inherit hover:opacity-60">
        <img ngSrc="/assets/icons/instagram.svg" alt="logo" height="50" width="50"/>
      </a>
      <a href="//youtube.com" target="_blank" class="block transition-opacity text-inherit hover:opacity-60">
        <img ngSrc="/assets/icons/youtube.svg" alt="logo" height="50" width="50"/>
      </a>
      <a href="//pinterest.com" target="_blank" class="block transition-opacity text-inherit hover:opacity-60">
        <img ngSrc="/assets/icons/pinterest.svg" alt="logo" height="50" width="50"/>
      </a>
      <a href="//www.whatsapp.com/" target="_blank" class="block transition-opacity text-inherit hover:opacity-60">
        <img ngSrc="/assets/icons/whatsapp.svg" alt="logo" height="50" width="50"/>
      </a>
      <a href="//web.telegram.org/" target="_blank" class="block transition-opacity text-inherit hover:opacity-60">
        <img ngSrc="/assets/icons/telegram.svg" alt="logo" height="50" width="50"/>
      </a>
    </div>
    <button class="mt-auto bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded-3xl shadow">
      Book
    </button>
  </div>

  <!-- Card 2 (≈30%) -->
  <div class="relative h-55 md:h-73 flex flex-col items-end">
    <div class="w-full xl:w-1/2">
      <div class="pb-2 pt-8 md:pt-0">
        <p class="flex items-center font-extralight">phone</p>
        <h2 class="text-2xl sm:text-3xl font-extralight pt-2">+971 58 555 55 55</h2>
      </div>
      <div class="py-6">
        <p class="flex items-center font-extralight">email</p>
        <h2 class="text-2xl md:text-xl lg:text-3xl font-extralight pt-2">tundra.production&#64;gmail.com</h2>
      </div>
      <div class="pt-2">
        <p class="flex items-center font-extralight">address</p>
        <h2 class="text-2xl font-extralight pt-2">Beach - Shop B9, Al Faridah Building, Al Raha Blvd, Al Zeina, Abu Dhabi</h2>
      </div>
    </div>
  </div>
</div>
