<footer class="relative w-full px-6 lg:px-12">
    <div class="container flex flex-col items-center justify-center mx-auto max-w-8xl py-4 mt-0 md:flex-row md:justify-between">
      <div class="text-center md:text-start">
        <p>tundra.production&#64;gmail.com</p>
        <p class="text-slate-400">+971 58 986 48 51</p>
      </div>
      <p class="block mb-4 text-sm text-center text-slate-500 md:mb-0">
        Copyright © 2025. All
        Rights Reserved.
      </p>
      <div class="flex gap-4 text-slate-600 sm:justify-center">
        <li class="flex items-center p-1 text-sm gap-x-2 text-slate-600">
          <a [routerLink]="['/rules']" class="flex items-center font-extralight">Studio rules</a>
        </li>
        <li class="flex items-center p-1 text-sm gap-x-2 text-slate-600">
          <a [routerLink]="['/privacy']" class="flex items-center font-extralight">Privacy policy</a>
        </li>
      </div>
    </div>
</footer>
