<header class="fixed top-0 left-0 right-0 z-50">
  <div class="glass px-4 md:px-8 py-3" [class.glass]="isScrolled() || !isHome()" [class.blured]="!isScrolled() && isHome()">
    <div class="max-w-7xl mx-auto flex items-center justify-between gap-4">
      <a class="flex items-center gap-3" routerLink="/">
        @if (isScrolled() || !isHome()) {
          <img src="images/logo_dark.svg" class="h-9 rounded-md" alt="logo">
        } @else {
          <img src="images/logo_light.svg" class="h-9 rounded-md" alt="logo">
        }
      </a>
      <nav class="hidden md:flex items-center gap-4 text-sm" [class.text-black]="isScrolled() || !isHome()"
           [class.text-white]="!isScrolled() && isHome()">
        <a class="px-3 py-2 rounded hover:bg-white/30 cursor-pointer" (click)="scrollTo('spaces')">Spaces</a>
        <a class="px-3 py-2 rounded hover:bg-white/30 cursor-pointer"
           (click)="scrollTo('equipment')">Equipment</a>
        <a class="px-3 py-2 rounded hover:bg-white/30 cursor-pointer" (click)="scrollTo('contact')">Contact</a>
        <a (click)="openContactDialog()" class="btn-primary btn-primary--whatsap inline-block">Let's talk</a>
      </nav>
      <div class="md:hidden flex items-center">
        <a (click)="openContactDialog()" class="btn-primary btn-primary--whatsap inline-block">Let's talk</a>
        <button class="px-3 py-2 rounded" (click)="mobileOpen.set(!mobileOpen())">
                <span class="text-white"
                      [class.text-black]="isScrolled() || !isHome()"
                      [class.text-white]="!isScrolled() && isHome()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" stroke="currentColor"
                         stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </span>
        </button>
      </div>
    </div>
  </div>
  <div class="md:hidden px-4 bg-white/70 backdrop-blur-md transition-all duration-300 overflow-hidden grid opacity-0
    [grid-template-rows:0fr] origin-top bg-white"
       [ngClass]="mobileOpen() ? 'glass opacity-100 [grid-template-rows:1fr]' : 'pointer-events-none'">
    <div class="min-h-0 py-2">
      <nav class="max-w-7xl mx-auto flex flex-col gap-1 text-sm">
        <a class="px-3 py-2 rounded hover:bg-white/30"
           (click)="scrollTo('spaces'); mobileOpen.set(false)">Spaces</a>
        <a class="px-3 py-2 rounded hover:bg-white/30"
           (click)="scrollTo('equipment'); mobileOpen.set(false)">Equipment</a>
        <a class="px-3 py-2 rounded hover:bg-white/30"
           (click)="scrollTo('contact'); mobileOpen.set(false)">Contact</a>
      </nav>
    </div>
  </div>
</header>
