<div class="max-w-4xl">
  <p class="text-left rtl:text-right text-4xl font-extralight leading-relaxed">Tundra Studio Rules</p>
  <p class="text-left rtl:text-right">
    The policy of the The policy of the Rooms Studio FZ-LLC (hereinafter Photo Studio) is a public offer.
    “Photo Studio” includes the studio and all property owned by the Rooms Studio FZ-LLC, and “Client” is the individual or entity renting the Rooms or/and equipment.
    Any Client, from the moment of booking or from the beginning of using the studio space, recognizes as having accepted the public offer in full and undertakes to follow the
    Rules.sss (hereinafter Photo Studio) is a public offer.
    “Photo Studio” includes the studio and all property owned by the Rooms Studio FZ-LLC,
    and “Client” is the individual or entity renting the Rooms or/and equipment.
    Any Client, from the moment of booking or from the beginning of using the studio space,
    recognizes as having accepted the public offer in full and undertakes to follow the Rules.</p>
</div>
