<div class="mx-auto max-w-6xl px-4 py-20">
  <div class="p-3 mt-4">
    <div class="flex flex-wrap gap-2 text-sm">
      <button class="btn btn--soft cursor-pointer" [class.active]="!isDefined(typeSig())" (click)="setType(undefined)">All</button>
      <button class="btn btn--soft cursor-pointer" [class.active]="typeSig() === EquipmentType.VIDEO_LIGHT"
              (click)="setType(EquipmentType.VIDEO_LIGHT)">Video Light
      </button>
      <button class="btn btn--soft cursor-pointer" [class.active]="typeSig() === EquipmentType.FLASH_LIGHT"
              (click)="setType(EquipmentType.FLASH_LIGHT)">Flash Light
      </button>
      <button class="btn btn--soft cursor-pointer" [class.active]="typeSig() === EquipmentType.MODIFIERS"
              (click)="setType(EquipmentType.MODIFIERS)">Modifers
      </button>
      <button class="btn btn--soft cursor-pointer" [class.active]="typeSig() === EquipmentType.SOUND"
              (click)="setType(EquipmentType.SOUND)">Sound
      </button>
      <button class="btn btn--soft cursor-pointer" [class.active]="typeSig() === EquipmentType.STANDS"
              (click)="setType(EquipmentType.STANDS)">Stands
      </button>
      <button class="btn btn--soft cursor-pointer" [class.active]="typeSig() === EquipmentType.OTHER"
              (click)="setType(EquipmentType.OTHER)">Other
      </button>
    </div>
  </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6">
      @if (equipment$(); as list) {
        <ul class="list-disc pl-7">
          @for (item of list; track item.id) {
            <li class="black mt-2">{{ item.name }} - {{ item.number }} pcs</li>
          }
        </ul>
        }
    </div>
</div>
