<div class="flex flex-col bg-gray-50 max-w-96 h-full p-4">
  <div class="flex-row text-center mb-4">
    <h5 class="mb-1 text-slate-900 text-xl font-semibold">
      {{ pricePack.header }}
    </h5>
    <h6 class="mb-1 text-slate-500 text-sm">
      {{ pricePack.subheader }}
    </h6>
  </div>
  @for (feature of pricePack.includedFeatures; track feature) {
    <p class="text-slate-800 text-sm font-light mb-1">
      <b class="font-semibold">{{ feature.header }}:</b> {{ feature.description }}
    </p>
  }
  <p class="text-slate-800 text-sm font-light mb-4">
    {{ pricePack.description }}
  </p>
  <div class="flex-row text-center mt-auto">
    <h5 class="mb-1 text-slate-900 text-xl font-semibold">
      {{ pricePack.price.amount }} {{ pricePack.price.currency }}
    </h5>
  </div>
</div>
