<div class="my-12">
  <div>
    <h1 class="font-bold text-slate-800 text-5xl">CHOOSE YOUR PACKAGE</h1>
    <h4 class="mt-4 text-slate-600 text-xl max-w-xl">Some interesting text about what this packages are and other marketing Bla Bla.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h4>
  </div>

  <div class="flex justify-center mt-8">
    <div class="grid grid-cols-1 gap-x-6 gap-y-6 md:grid-cols-2 lg:grid-cols-3 max-w-6xl">
      @if (pricePackages$ | async; as pricePackages) {
        @for (pricePack of pricePackages; track pricePack) {
          <div class="flex justify-center">
            <tp-price-card-top-pricing [pricePack]="pricePack"/>
          </div>
        }
      }
    </div>
  </div>

  <div class="flex justify-center mt-8">
    <div class="grid grid-cols-1 gap-x-6 gap-y-6 md:grid-cols-2 lg:grid-cols-3 max-w-6xl">
      @if (pricePackages$ | async; as pricePackages) {
        @for (pricePack of pricePackages; track pricePack) {
          <div class="flex justify-center">
            <tp-price-card-with-footer [pricePack]="pricePack"/>
          </div>
        }
      }
    </div>
  </div>

  <div class="flex justify-center mt-8">
    <div class="grid grid-cols-1 gap-x-6 gap-y-6 md:grid-cols-2 lg:grid-cols-3 max-w-6xl">
      @if (pricePackages$ | async; as pricePackages) {
        @for (pricePack of pricePackages; track pricePack) {
          <div class="flex justify-center">
            <tp-price-card-simple [pricePack]="pricePack"/>
          </div>
        }
      }
    </div>
  </div>
</div>
