<div class="max-w-4xl">
  <p class="text-left rtl:text-right text-2xl font-extralight leading-relaxed">COOKIE POLICY</p>
  <p class="text-left rtl:text-right">
    1. All credit/debit cards details and personally identifiable information will NOT be stored, sold, shared, rented
    or leased to any third parties.</p>
  <p class="text-left rtl:text-right">
    2. Rooms Studio FZ-LLC will not pass any debit/credit card details to third parties. </p>
  <p class="text-left rtl:text-right">
    3. Rooms Studio FZ-LLC takes appropriate steps to ensure data privacy and security including through various
    hardware and software methodologies. However, rooms-studio.ae/ cannot guarantee the security of any information that
    is disclosed online.
  </p>
  <p class="text-left rtl:text-right">
    4. Rooms Studio FZ-LLC is not responsible for the privacy policies of websites to which it links. If you provide any
    information to such third parties different rules regarding the collection and use of your personal information may
    apply. You should contact these entities directly if you have any questions about their use of the information that
    they collect.
  </p>
  <p class="text-left rtl:text-right">
    5. The Website Policies and Terms & Conditions may be changed or updated occasionally to meet the requirements and
    standards. Therefore, the Clients are encouraged to frequently visit these sections to be updated about the changes
    on the website. Modifications will be effective on the day they are posted.PRIVACY POLICYWe use cookies to help you
    navigate efficiently and perform certain functions. You will find detailed information about all cookies under each
    consent category below. The cookies that are categorized as «Necessary» are stored on your browser as they are
    essential for enabling the basic functionalities of the site. We also use third-party cookies that help us analyze
    how you use this website, store your preferences, and provide the content and advertisements that are relevant to
    you. These cookies will only be stored in your browser with your prior consent. You can choose to enable or disable
    some or all of these cookies but disabling some of them may affect your browsing experience. Different browsers
    provide different methods to block and delete cookies used by websites. You can change the settings of your browser
    to block/delete the cookies.
  </p>
  <p class="text-left rtl:text-right text-2xl font-extralight leading-relaxed">What are cookies?</p>
  <p class="text-left rtl:text-right">
    This Cookie Policy explains what cookies are and how we use them, the types of cookies we use i.e, the information
    we
    collect using cookies and how that information is used, and how to manage the cookie settings.
    Cookies are small text files that are used to store small pieces of information. They are stored on your device when
    the website is loaded on your browser. These cookies help us make the website function properly, make it more
    secure,
    provide better user experience, and understand how the website performs and to analyze what works and where it needs
    improvement.
  </p>

  <p class="text-left rtl:text-right text-2xl font-extralight leading-relaxed">How do we use cookies??</p>
  <p class="text-left rtl:text-right">
    As most of the online services, our website uses first-party and third-party cookies for several purposes. First-party
    cookies are mostly necessary for the website to function the right way, and they do not collect any of your personally
    identifiable data.
    The third-party cookies used on our website are mainly for understanding how the website performs, how you interact
    with our website, keeping our services secure, providing advertisements that are relevant to you, and all in all
    providing you with a better and improved user experience and help speed up your future interactions with our website.
  </p>

  <p class="text-left rtl:text-right text-2xl font-extralight leading-relaxed">Types of Cookies we use</p>
  <p class="text-left rtl:text-right">
  – Necessary cookies are required to enable the basic features of this site, such as providing secure log-in or
    adjusting your consent preferences. These cookies do not store any personally identifiable data.</p>
  <p class="text-left rtl:text-right">
  – Functional cookies help perform certain functionalities like sharing the content of the website on social media
  platforms, collecting feedback, and other third-party features.</p>
  <p class="text-left rtl:text-right">
  – Analytical cookies are used to understand how Visitors interact with the website. These cookies help provide
    information on metrics such as the number of Visitors, bounce rate, traffic source, etc.</p>
  <p class="text-left rtl:text-right">
  – Performance cookies are used to understand and analyze the key performance indexes of the website which helps in
  delivering a better user experience for the Visitors.</p>
  <p class="text-left rtl:text-right">– Advertisement cookies are used to provide Visitors with customized advertisements based on the pages you visited
  previously and to analyze the effectiveness of the ad campaigns.
</div>
